
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Study Student</title>
    <script src=".././JS/jquery-3.6.0.min.js"></script>
    <script src=".././JS/bootstrap.bundle.min.js"></script>
    <script src=".././JS/bootstrap.min.js"></script>
    <script src=".././JS/General.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!--Google Recaptcha API-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href=".././css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href=".././css/bootstrap.min.css" rel="stylesheet" />
    <link href=".././css/General.css" rel="stylesheet" />
</head>
<body class="dark">
    <!--back to top btn-->
    <a id="backtotop" class="bg-info btn" style="display:none;"><i class="bi bi-arrow-up"></i></a>
    <!--TOP Header-->
    <div class="row navbar navbar-expand-lg navbar-light py-0 fixed-top pl-lg-5">
        <div class="col-sm-2 ml-lg-5">
            <a class="navbar-brand  text-white" href=".././index.html">StudyStudent</a>
            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" id="navBtn">
                <span class="navbar-toggler-icon" id="togglerIcon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="col-sm-3">
                <span>Follow us:</span>
                <a href="https://www.facebook.com" target="_blank" class="p-2"><i class="bi bi-facebook" style="color:#347dc0;"></i></a>
                <a href="https://www.twitter.com" target="_blank" class="p-2"><i class="bi bi-twitter" style="color:#1156aa;"></i></a>
                <a href="https://www.google.com" target="_blank" class="p-2"><i class="bi bi-google" style="color:#1bbb34;"></i></a>
                <a href="https://www.instagram.com" target="_blank" class="p-2"> <i class="bi bi-instagram" style="color:#dd3427;"></i></a>
                <a href="https://www.linkedin.com" class="p-2"><i class="bi bi-linkedin" style="color:#347dc0;"></i></a>
            </div>
            <div class="col-sm-5">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=".././index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#Tutorial">Tutorial</a>
                        <div class="dropdown-menu" id="Tutorial">
                            <a class="dropdown-item" href="./Tutorial.html?CTutorial">C</a>
                            <a class="dropdown-item" href="./Tutorial.html?C2Tutorial">C++</a>
                            <a class="dropdown-item" href="./Tutorial.html?C3Tutorial">C#</a>
                            <a class="dropdown-item" href="./Tutorial.html?HTML">HTML</a>
                            <a class="dropdown-item" href="./Tutorial.html?CSS">CSS</a>
                            <a class="dropdown-item" href="./Tutorial.html?JSTutorial">Java Script </a>
                            <a class="dropdown-item" href="./Tutorial.html?Bootstrap">Bootstrap</a>
                            <a class="dropdown-item" href="./Tutorial.html?jQuery">jQuery</a>
                            <a class="dropdown-item" href="./Tutorial.html?ASP">ASP .NET MVC</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Registration.html">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Login.html">Login</a>
                    </li>
                    
                </ul>
            </div>
            <div class="mode col-sm-2">
                Dark mode:
                <i class="bi bi-toggle-on change"></i>
            </div>
        </div>
    </div>
    <!--Top Header Ending-->
    <div style="margin-bottom:135px;">
        
        <style>
            #welcome{
                background:linear-gradient(168deg,blue,pink);
            }
        </style>
        <script>
            $(document).ready(function () {
                $("[type*='submit']").click(function () {
                    var StudentId = $("#StudentId").val().trim();
                    var Password = $("#Password").val().trim();
                    var status = true;
                    $(".err").remove();
                    if (StudentId.length < 2) {
                        status= false;
                        $("#StudentId").after("<span class='err'>Please enter valid StudentId(EMail).</span>");
                    }
                    if (Password.length < 3) {
                        status=false;
                        $("#Password").after("<span class='err'>Please Enter valid Password.</span>");
                    }
                    $(".err").addClass("text-warning");
                    return status;
                });
                $("#forgot").click(function () {
                    alert("There is no option to recover password.Please, create a new account.");
                });
            });
        </script>
        <div class="container my-5 pt-5">
            <p>Currently Not Worked. Don't Enter sensitive Data currently.</p>
            <h1 class="text-success text-center">Login Page </h1>
            <!--<p id="presponse" class="alert alert-dark text-center h4" style="display:none;"><% if(locals.msg){ %>
                <%= msg%>
                <% } %></p>-->
            <div class="row mt-5 py-5 " id="welcome">
        
                <div class="col-sm-6">
                    <center>
                        <h1>Welcome back</h1>
                        <h4>Explore new things!</h4>
                    </center>
        
                </div>
                <div class="col-sm-5">
                    <form action="./Login.html" method="post">
                        <input class="form-control mt-4" id="StudentId" name="StudentId" placeholder="Email" type="text" value="" />
                        <input class="form-control mt-4" id="Password" name="Password" placeholder="Password" type="password" />
                        <input type="submit" value="Login" class="btn btn-success btn-block my-4">
                    </form>
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <a class="text-dark text-decoration-none" href="Login.html" id="forgot">Forgot Passoword</a>
                        </div>
                    </div>
                    <h6 class="text-dark d-inline">
                        Have no Account?
                    </h6>
                    <a class="text-decoration-none text-dark" href="./Registration.html">Sign up</a>
                </div>
        
            </div>
        </div>
        
        
        


    </div>
    <!--Footer  bottom-->
    <div class="row pl-4 mr-0 bg-dark text-white fixed-bottom">
        <div class="col-sm-6">
            © 2021 Copyright:All rights are reserved by<a href=".././index.html">StudyStudent.com</a>
        </div>
        <div class="col-sm-4">
            Developed By<a href=".././index.html">Student</a> Team
        </div>
    </div>

</body>
</html>
